.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(243, 229, 229);
  width: 400px; 
  background-color: rgb(24, 218, 160);
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 0px 0px 33px white;
} 
.signin {
  font-size: 2rem;
  text-transform: uppercase;
}
.desc {
  margin-top: 6px;
  font-size: 0.8rem;
}

.input {
  display: block;
  width: 100%;
  margin-top: 1rem;
  height: 50px;
  padding: 5px 10px;
}

.button {
  border-radius: 40px;
  width: 100%;
  margin-top: 1rem;
  height: 50px;
  background-color: rgb(227, 236, 230);
  border: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(19, 19, 19);
  font-size: 1.3rem;
}

.notResgitered {
  border: none;
  background-color: transparent;
  padding: 10px 20px 0px;
  width: 100%;
  margin-top: 1rem;
  color: rgb(14, 15, 15);
}
